<div class="user-main>">

    <div class="form-body">
    <h1>ログイン</h1>

    <% if @error_message %>
        <div class="form-error">
            <%= @error_message %>
        </div>
    <% end %>

        <%= form_tag("/login") do %>
            <p>メールアドレス</p>
            <%= text_field_tag("email", @email ,{placeholder: "例）example.xxx.com"}) %>
            <p>パスワード</p>
            <%= text_field_tag("password", @password ,{type: "password" ,placeholder: "6文字以上で入力下さい"}) %>
            <input type="submit" value="ログイン" class="login-btn">
          <% end %>

        <%= link_to("/simple_login") do %>
          <br/><br/><br/><br/><p class="simple-btn">かんたんログイン</p>
        <% end %>

        <div class="login">
            <p class="login-link">登録をしていない方は</p>
            <%= link_to("/signup" ,class:"signup-link") do %>
                こちら
            <% end %>
        </div>
    </div>

</div>
