<!DOCTYPE html>
<html>
  <head>
    <title>Revelise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

<header class="header">

      <div class="container">

        <div class="header-title">
          <%= link_to("/") do %>
            <div id="top-btn" class="header-logo">Revelise</div>
          <% end %>
        </div>

        <div class="header-menu">

          <div class="header-left">
            <nav class="global-nav">

            </ul>
          </div>
    <nav class="global-nav">
      <li>
        <form action="/" method="get">
          <input type="search" class="search" name="search" value="" placeholder="キーワードで探す"><input type="submit" class="search-btn" name="btn_search" value="検索">
        </form>
      </li>
        <ul class="global-nav__list">
          <ul class="header-right dropdwn">
          <% if @current_user %>
              <li>
                <a class="beginner-modal"><i class="fas fa-bell"></i>&nbsp;初めての方</a>
              </li>
              <li>
                <%= link_to("/posts/new") do %>
                  <i class="fas fa-camera-retro"></i>&nbsp;新規投稿
                <% end %>
              </li>
              <li>
                <%= link_to("/") do %>
                  <i class="fas fa-book-open"></i>&nbsp;投稿一覧
                <% end %>
              </li>
              <li class = "my">
                <i class="fas fa-user"></i>&nbsp;<%=  @current_user.name %>&nbsp;&nbsp;<i class="fas fa-sort-down"></i>
                    <ul class="dropdwn_menu .mypage_list">
                      <li>
                        <%= link_to("/users/#{@current_user.id}") do %>
                          マイページ
                        <% end %>
                      </li>
                      <li>
                        <%= link_to("/users/#{@current_user.id}/edit") do %>
                          ユーザー編集
                        <% end %>
                      </li>
                      <li>
                        <%= link_to("/users/#{@current_user.id}/likes") do %>
                          いいね！リスト
                        <% end %>
                      </li>
                      <li>
                        <%= link_to("/users/#{@current_user.id}/follows") do %>
                          フォローリスト
                        <% end %>
                      </li>
                      <li>
                        <%= link_to("/logout") do %>
                          ログアウト
                        <% end %>
                      </li>
                    </ul>
              </li>
          <% else %>
              <li>
                <a class="beginner-modal"><i class="fas fa-bell"></i>&nbsp;初めての方</a>
              </li>
              <li>
                <%= link_to("/") do %>
                  <i class="fas fa-book-open"></i>&nbsp;投稿一覧
                <% end %>
              </li>
              <li>
                <%= link_to("/login") do %>
                  <i class="fas fa-sign-in-alt"></i>&nbsp;ログイン
                <% end %>
              </li>
              <li>
                <%= link_to("/signup") do %>
                  <i class="fas fa-user-plus"></i>&nbsp;ユーザー登録
                <% end %>
              </li>
            <% end %>
            </ul>
        </div>

      </div>
  </nav>
  <div class="hamburger" id="js-hamburger">
    <span class="hamburger__line hamburger__line--1"></span>
    <span class="hamburger__line hamburger__line--2"></span>
    <span class="hamburger__line hamburger__line--3"></span>
  </div>
  <div class="black-bg" id="js-black-bg"></div>
    </header>

    <div id="explanation">
      <div class="modal">

        <div class="close-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>

        <h2>Revelise(レーヴリーズ)へようこそ！</h2>

        <div class="page">
          Reveliseでは、使用した商品の感想を投稿して、おすすめの商品を紹介しあうサイトです。
        </div>

        <ul class="page-list">
          <li>
            <p class="page-list-title"><span class="fas fa-user-plus"></span>&nbsp;ユーザー登録</p>
            <p>ユーザー登録することでお気に入りのユーザーや商品を登録でき、商品の感想を投稿出来ます。</p>
          </li>
          <li>
            <p class="page-list-title"><span class="fas fa-camera-retro"></span>&nbsp;投稿機能</p>
            <p>商品の感想を画像と一緒に投稿することができます。</p>
          </li>
          <li>
            <p class="page-list-title"><span class="fas fa-heart"></span>&nbsp;いいね機能</p>
            <p>お気に入りの商品にはいいねをつけることができます。</p>
          </li>
          <li>
            <p class="page-list-title"><span class="fas fa-star st"></span>&nbsp;フォロー機能</p>
            <p>気になるユーザーを登録することができます。</p>
          </li>
        </ul>

      </div>
    </div>

    <div class="flash">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </div>
    <%= yield %>
    <footer class="footer">
    <p class="footer__item">© 2020 Revelise</p>
    </footer>
  </body>
</html>
